<header>
  <h1>{{title}}</h1>
</header>
<nav>
  <a (click)="goNextEvent()"  href="#">מועד הבא</a>
  <a (click)="goNearEvent()" href="#">מועד הקרוב</a>
  <a (click)="goBackEvent()" href="#">מועד הקודם</a>
</nav>
<main>
  <section  *ngIf="dataLoaded" >
    <header>
      <div> {{futureEvent.heb_date}}</div>
      <div> {{futureEvent.date | date:'dd.MM.YYYY' }}</div>
      <div> {{futureEvent.parasha}}</div>
      <div>{{futureEvent.type}}</div>
    </header>
    <div id="data">
      <div id="data-title">
        <span>כניסה</span>
        <span>יציאה</span>
        <span>עיר</span>
      </div>
      <div>
        <span> {{futureEvent.Jerusalem_in | hm}}</span>
        <span> {{futureEvent.Jerusalem_out | hm}}</span>
        <span>ירושלים</span>
      </div>
      <div>
        <span> {{futureEvent.TelAviv_in | hm}}</span>
        <span> {{futureEvent.TelAviv_out | hm}}</span>
        <span>תל אביב</span>
      </div>
      <div>
        <span> {{futureEvent.BeerSheva_in | hm}}</span>
        <span> {{futureEvent.BeerSheva_out | hm}}</span>
        <span>באר שבע</span>
      </div>
      <div>
        <span> {{futureEvent.Hayfa_in | hm}}</span>
        <span> {{futureEvent.Hayfa_out | hm}}</span>
        <span>חיפה</span>
      </div>
    </div>
  </section>
<div *ngIf="!dataLoaded">טוען נתונים</div>
</main>
<footer *ngIf="dataLoaded">
  <span>המידע נלקח מ </span>
  <a href="https://data.gov.il/organization/religion-office" target="_blank">המשרד לשירותי הדת</a>
</footer>