.header h1 {
  text-align: center;
  margin: 0.1rem;
  font-size: 2rem;
  padding: 1rem;
  border-bottom: 1px solid gray;
}

.header div {
  place-self: center;
}

.data {
  display: grid;
  grid-template-areas: "exit enter city";
  justify-content: space-around;
}

.data-item {
  display: grid;
  grid-template-columns: auto;
}

.data-item > span:first-child {
  font-weight: bold;
  color: wheat;
  padding: 4px;
}

.enter {
  grid-area: enter;
}

.exit {
  grid-area: exit;
}
.city {
  grid-area: city;
}

.data-capthion {
  color: orange;
}

.data-capthion-item {
  text-align: center;
  font-size: 1.8rem;
  margin: 1rem 0;
}
.footer {
  align-self: center;
  margin: 1rem;
}

.nav {
  display: grid;
  grid-template-columns: minmax(60px, 1fr) minmax(120px, 2fr) minmax(60px, 1fr);
  justify-content: space-around;
  font-size: 1.5rem;
  /*   border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white; */
}

.nav button {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  padding: 0.2rem;
}

.nav button:active {
  background-color: gray;
}
.nav button:hover {
  background-color: gray;
}

.main {
  font-size: 1.5rem;
}

.h-link {
  text-decoration: none;
}

.h-link:hover {
  color: white;
}

a:visited {
  color: white;
}

.data-item span {
  padding: 0.2rem;
}

@keyframes load {
  from {
    font-size: x-small;
  }
  to {
    font-size: x-large;
  }
}
.load {
  animation-name: load;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
