<header>
  <h1>{{title}}</h1>
</header>
<nav>
  <a (click)="goNextEvent()" href="#"> &lArr;</a>
  <a (click)="goNearEvent()" href="#">מועד הקרוב</a>
  <a (click)="goBackEvent()" href="#">&rArr; </a>
</nav>
<main>
  <section *ngIf="dataLoaded">
    <header class="data-capthion">
        <span> {{futureEvent.date | date:'dd.MM.YYYY' }}</span>
        <span> {{futureEvent.heb_date}}</span>
        <div style="letter-spacing: 4px; padding: 4px;">
        <span *ngIf="futureEvent.type =='שבת'" style="padding: 4px;">{{futureEvent.type }}<span style="letter-spacing: initial; padding: 4px;">פרשת</span> </span>
        <span>{{futureEvent.parasha}} </span>
      </div>
    </header>
    <div class="data">
      <div class="data-item city">
        <span>עיר</span>
        <span>ירושלים</span>
        <span>תל אביב</span>
        <span>באר שבע</span>
        <span>חיפה</span>
      </div>
      <div class="data-item enter">
        <span>כניסה</span>
        <span> {{futureEvent.Jerusalem_in | hm}}</span>
        <span> {{futureEvent.TelAviv_in | hm}}</span>
        <span> {{futureEvent.BeerSheva_in | hm}}</span>
        <span> {{futureEvent.Hayfa_in | hm}}</span>
      </div>
      <div class="data-item exit">
        <span>יציאה</span>
        <span> {{futureEvent.Jerusalem_out | hm}}</span>
        <span> {{futureEvent.TelAviv_out | hm}}</span>
        <span> {{futureEvent.BeerSheva_out | hm}}</span>
        <span> {{futureEvent.Hayfa_out | hm}}</span>
      </div>
    </div>
  </section>
  <div *ngIf="!dataLoaded">טוען נתונים</div>
</main>
<footer *ngIf="dataLoaded">
  <span>המידע נלקח מ </span>
  <a href="https://data.gov.il/organization/religion-office" target="_blank">המשרד לשירותי הדת</a>
</footer>