header h1 {
  text-align: center;
  margin: 0.1rem;
  box-shadow: 0.1rem 0.1rem 0.2rem 0.2rem white;
  font-size: 2rem;
  padding: 1rem;
}

header div {
  place-self: center;
}

.data {
  display: grid;
  grid-template-areas: "exit enter city";
  border: 1px solid white;
  justify-content: space-around;
}

.data-item {
  display: grid;
  grid-template-columns: auto;
}

.data-item  > span:first-child {
  font-weight: bold;
  color: wheat;
  padding: 4px;
}

.enter {
  grid-area: enter;
}

.exit {
  grid-area: exit;
}
.city {
  grid-area: city;
}


<<<<<<< HEAD
=======
.data-capthion {

/*   display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around; */

}

>>>>>>> b796d704839b23b09866340562a0f2826ecb6e86
.data-capthion-item {
  text-align: center;
}
footer {
  align-self: center;
}

nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-around;
  font-size: 1.5rem;
/*   border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white; */
  padding: 0.5rem;
}

nav button {
  place-self: center;
  background-color:black;
  color: white;
  font-size: 1.5rem;
  padding: 0.2rem;
}

main {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
  box-shadow: 2px 2px;
}

a:visited {
  color: white;
}